/* _mixins.scss */
@mixin centralizar-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin botao($bg, $cor) {
  background-color: $bg;
  color: $cor;
  border: none;
  border-radius: 5px;
  padding: 1.2rem;
  cursor: pointer;
  font-size: 1.2rem;

  &:hover {
    opacity: 0.8;
  }
}
